body {
    background-color: #ffe8d6;
  }

.site-logo {
	display: inline-block;
	padding-top: 18px;
	padding-left: 80px;
}



.slicknav_menu {
	display: none;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li.search-mobile {
	display: none;
}

.main-menu li a {
	display: inline-block;
	font-size: 15px;
	color: #ff3f12;
	font-weight: 600;
	text-transform: uppercase;
	padding: 25px 0;
	margin-right: 45px;
}

.main-menu li .sub-menu {
	position: absolute;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	padding: 10px 0 5px;
	-webkit-box-shadow: 0 15px 50px 1px rgba(0, 0, 0, 0.13);
	box-shadow: 0 15px 50px 1px rgba(0, 0, 0, 0.13);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.main-menu li .sub-menu li {
	display: block;
}

.main-menu li .sub-menu li a {
	padding: 10px 15px;
	text-transform: none;
}

.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}


