body {
  background-color:#0d1f33;
  font-family: Palatino, URW Palladio L, serif; 
  text-align: center;
}
a {
    text-decoration: none;
  }
  
  nav {
      font-family: monospace;
  }
  
  ul {
    background: darkorange;
      list-style: none;
      margin: 0;
      padding-left: 0;
  }
  
  li {
      color: #fff;
    background: darkorange;
      display: block;
      float: left;
      padding: 1rem;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
    
  li a {
    color: #fff;
  }
  
  li:hover,
  li:focus-within {
      background: red;
      cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
      background: orange;
      visibility: hidden;
    opacity: 0;
    min-width: 5rem;
      position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
      left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
  }
  
  ul li ul li {
      clear: both;
    width: 100%;
  }
  
  
  
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}