body {
    background-color:#0d1f33;
    font-family: Palatino, URW Palladio L, serif; 
    text-align: center;
  }
  .pictures {
    display: flex;
    justify-content: center;
  }
  
  #katt{
    padding: 1px;
    margin: 10px;
    display: flex;
    justify-content: right;
  }
    
  
  img {
    writing-mode: horizontal-tb;
    width: 100%;
    height: 100%;
    display: inline-block;
   overflow: hidden;
  }
  
#meny li {
  display: inline;
  list-style: none;
  }
  
  #meny li a {
  margin: 0 5px 0 0;
  padding: 5px 20px 5px 20px;
  text-align: center;
  white-space: nowrap;
  line-height: 50px;
  font-family: Palatino, URW Palladio L, serif; 
  font-size: 35px;
  color: rgba(66,48,1,1);
  border-radius: 5px;
  }
  
  #meny li a:hover {
  cursor: pointer;
  background:#db9cc2;
  color:#0d1f33;
  }
  
  #meny a:link, #meny a:visited {
  color: rgba(255,255,255,1);
  text-decoration: none;
  }
  
  /*så den passar menyn  */
.dropdown {
  display: inline;
  overflow: hidden;
}

/* gör så den passar resten av menyn */
.dropdown .dropbtn {
  font-size: 35px;
  border: none;
  outline: none;
  color: white;
  padding: 5px 20px 5px 20px;
  background-color: #0d1f33;
  font-family: inherit;
  margin: 0;
}

/*gör den till en går ner å inte bara är ute  */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #db9cc2;;
  min-width: 160px;
  z-index: 1;
}

/* Gör så den rullar neråt */
.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 22.5px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

/* Lägg till en rosa bakgrund på topnav-länkar och rullgardinsmenyn */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #db9cc2;
  color: black;
  
}


/* Visa rullgardinsmenyn när användaren flyttar musen över rullgardinsmenyn */
.dropdown:hover .dropdown-content {
  display: block;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  text-align: center;
}

div{
    
    color: white;
    text-align: center;
    font-family: Palatino, URW Palladio L, serif; 
    font-weight: 100;
    font-stretch: ultra-expanded;
    font-variant: small-caps;
    font-size:5px;
    margin: 5px;
    padding: 5px;
    
}

.footer-middle{
   background: #0d1f33;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

._12 {
    font-size: 20px;
}
._14 {
    font-size: 20px;
    text-align: center;
}
ul {
    padding:0;
    list-style: none;
    text-align: center;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.facebook {
    padding:20px 24px;
    background-color:#0d1f33;
}
.facebook:hover {
    background-color: #3d5b99;
}
.Twitch {
  padding:20px 24px;
  background-color:#0d1f33;
}
.Twitch:hover {
  background-color: #5f13c4;
}
.instagram{
    padding:20px 24px;
    background-color:#0d1f33;
}
.instagram:hover {
    background-color: #d420c5;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}
.github {
    padding:20px 24px;
    background-color: #0d1f33;
}
.github:hover {
    background-color: #5a32a3;
}

