body {
  font-family: Palatino, URW Palladio L, serif; 
  background-color:#2a7edd ;
}

h1 {
text-align: center;
border-bottom: 1px solid #ffffff;
font-family: Palatino, URW Palladio L, serif;
}

.text {
text-align: center;   
font-family: Palatino, URW Palladio L, serif; 
}

* { 
box-sizing: border-box;
}

img  {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* De fyra kolumnerna */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0.3em;
}

.column img {
  margin-top: 0.6em;
  vertical-align: middle;
}

/* Responsiv layout - blir 2 kolumner */
  .column {
    flex: 50%;
    max-width: 50%;
  }

/* Responsiv layout - kolumnerna hamnar ovanpå varandra */
  .column {
    flex: 100%;
    max-width: 100%;
  }


/* Footer börjar */
.footer-middle{
  background: #0d1f33;
 color: rgb(255, 255, 255);
 font-size: 10px;
}

._12 {
   font-size: 20px;
}
._14 {
   font-size: 30px;
   text-align: center;
}
ul {
   padding:0;
   list-style: none;
   text-align: center;
}

.social-icons li {
   vertical-align: top;
   display: inline;
 }
 .social-icons a {
   color: #fff;
   text-decoration: none;
   height: 24px;
}

.facebook:hover {
   background-color: #3d5b99;
}

.Twitch:hover {
 background-color: #5f13c4;
}

.instagram:hover {
   background-color: #d420c5;
}

.github:hover {
 background-color: #5a32a3;
}

.logo {
 -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
 transition: .5s;
 padding:20px 20px;
 height: 24px;
 width: 24px;
 border-radius: 50%;
}