body {
    background-color:#0d1f33;
    font-family: Palatino, URW Palladio L, serif; 
  }
  .pictures {
    display: flex;
    justify-content: center;
    
  }
  #meny li {
    display: inline;
    list-style: none;
    
    }
    
    #meny li a {
    margin: 0 5px 0 0;
    padding: 5px 20px 5px 20px;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    font-family: Palatino, URW Palladio L, serif; 
    font-size: 35px;
    color: rgba(66,48,1,1);
    border-radius: 5px;
    }
    
    #meny li a:hover {
    cursor: pointer;
    background:#db9cc2;
    color:#0d1f33;
    }
    
    #meny a:link, #meny a:visited {
    color: rgba(255,255,255,1);
    text-decoration: none;
    }
    footer {
      background-color: #F1F1F1;
      text-align: center;
      padding: 0px;
    }


:root {
	
	font-size: 10px;
}

	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #0d1f33;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.gallery-item {
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}


.footer-middle{
 background: #0d1f33;
color: rgb(255, 255, 255);
font-size: 20px;
}

._12 {
  font-size: 20px;
}
._14 {
  font-size: 20px;
  text-align: center;
}
ul {
  padding:0;
  list-style: none;
  text-align: center;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.facebook {
  padding:10px 14px;
  background-color: #322f30;
}
.facebook:hover {
  background-color: #3d5b99;
}
.Twitch {
padding:10px 14px;
background-color: #322f30;
}
.Twitch:hover {
background-color: #5f13c4;
}
.instagram{
  padding:10px 14px;
  background-color: #322f30;
}
.instagram:hover {
  background-color: #d420c5;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}
.github {
  padding:10px 14px;
  background-color: #322f30;
}
.github:hover {
  background-color: #5a32a3;
}

