body {
    background-color:#0d1f33;
    font-family: Palatino, URW Palladio L, serif; 
  }
  .pictures {
    display: flex;
    justify-content: center;
  }
  #meny li {
    display: inline;
    list-style: none;
    }
    
    #meny li a {
    margin: 0 5px 0 0;
    padding: 5px 20px 5px 20px;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    font-family: Palatino, URW Palladio L, serif; 
    font-size: 35px;
    color: rgba(66,48,1,1);
    border-radius: 5px;
    }
    
    #meny li a:hover {
    cursor: pointer;
    background:#db9cc2;
    color:#0d1f33;
    }
    
    #meny a:link, #meny a:visited {
    color: rgba(255,255,255,1);
    text-decoration: none;
    }
    footer {
      background-color: #F1F1F1;
      text-align: center;
      padding: 0px;
    }


:root {
	
	font-size: 10px;
}

	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #0d1f33;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.gallery-item {
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

